<!DOCTYPE html>
<html>
<head>
	<title>Prince Benson Waimai</title>
</head>
<body>
	<h1>Prince Benson Fusion Restaurant</h1>
	<p>Tasty Treats To Your Door</p>

	<h2>Here are all our items!</h2>

	<!-- Item 1 -->
	<p>fried chips: 12RMB</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fries_2.jpg/800px-Fries_2.jpg">
	<br>

	<!-- Item 2 -->
	<p>cola: 3RMB</p>
	<img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4053742501,2655692540&fm=27&gp=0.jpg">

	<!-- Item 3 -->
	<p>ice cream: 15RMB</p>
	<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525175113&di=ce562f1919f8c4116be15dac0f20ac75&imgtype=jpg&er=1&src=http%3A%2F%2Frj2.douguo.net%2Fupload%2Fdiet%2F5%2F3%2F4%2F53d6bdd14fecb4fabcb9fafbb9b640a4.jpg">

	<!-- Order Form -->
	<h2>Place your Order</h2>
	<form action="{% url 'order:home_page' %}" method="POST">
		{% csrf_token %}	
		<input type="text" name="item" placeholder="Please Type Which Item You Want"><br>
		<textarea name="address" placeholder="Please Type Your Address"></textarea><br>
		<input type="submit" value="Place Your Order">
	</form>

	<!-- Show Order -->
	<h1>Your Order:</h1>
	<p>Item Ordered: {{item}}</p>
	<p>Delivery Address: {{address}}</p>

</body>
</html>